<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GDM Checker</title>
    <link rel="stylesheet" href="../style.css">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style.css') }}"/>
</head>
<body>
     
    <header class="head">
    <div class="cabecalho">
  <img src="/static/img/woman.jpeg" width="150" height="170">
</div>
        <label for="">GDM Checker</label>
    </header>
   
    <hr>
<br>
<br>

    <form action="/" method="POST" >

    <input type="number" name="age" value="{{request.form["age"]}}" id="" placeholder="Age" min="15" max="50"><br>
    <select id="" name="sex"  >
        <option value="{{request.form["sex"]}}"  >Select sex</option>
       <option value="{{request.form["sex"]}}" disabled>male</option>
       <option value="{{request.form["sex"]}}" direction ="lrt">female</option>
     </select><br>
    <select id="" name="pregnant_q" >
        <option value="null">Are you pregnant?</option>
       <option value="yes">Yes</option>
       <option value="no" direction ="lrt" disabled>No</option>
     </select><br>
    <select id="" name="w_pregnancy" >
        <option value="null">How long have you being pregnant?</option>
       <option value="23">23 weeks</option>
       <option value="24" direction ="lrt">24 weeks</option>
     </select><br>
         <select id="" name="q1" >
             <option value="null">Do you feel unusual thirst?</option>
            <option value="yes">Yes</option>
            <option value="no" direction ="lrt">No</option>
          </select><br>
         <select id="" name="q2" >
             <option value="null">Frequent urination in large amount?</option>
            <option value="yes">Yes</option>
            <option value="no" direction ="lrt">No</option>
          </select><br>
         <select id="" name="q3" >
             <option value="null">Do you experience fatigue?</option>
            <option value="yes">Yes</option>
            <option value="no" direction ="lrt">No</option>
          </select><br>
         <select id="" name="q4" >
             <option value="null">Do you experience lurred Vision?</option>
            <option value="yes">Yes</option>
            <option value="no" direction ="lrt">No</option>
          </select><br>
    <input type="number" value="{{request.form["height"]}}" name="height" id="" placeholder="height (metres)" step = "any" min="0" max="5"><br>
    <input type="number" value="{{request.form["weight"]}}" name="weight" id="" placeholder="weight (kg)" step = "any" min="20" max="100"><br>
    <input type="number" value="{{request.form["miscarriage"]}}" name="miscarriage" id="" placeholder="Miscarriage Before 6 month" min="0" max="6"><br>
    <input type="number" value="{{request.form["n_pregnancy"]}}" name="n_pregnancy" id="" placeholder="Number of Pregnancy" min="0" max="20">
    <br>
    <p>{{message}}</p>

    <input type="submit" value="Check" class="button">

</form> 
<br>
<br>
    <i><b> Age:</b> {{age_input}} </i><br><br>
    <i><b> Duration of pregnancy:</b> {{w_preg_input}} </i><br><br>
    <i><b> height:</b> {{height_input}} </i><br><br>
    <i><b> weight:</b> {{weight_input}} </i><br><br>
    <i><b>Calculated BMI:</b> {{bmi_input}} </i><br><br>
    <i><b>Miscarriage Before 6 month:</b> {{miscarriage_input}} </i><br><br>
    <i><b>Number of Pregnancy:</b> {{n_preg_input}} </i><br><br>
    

        <br>
        <br>
<table>   
    <tbody>
        <tr>
            <td> <B>Predicted Fasting Plasma Glucose</B> </td>
            <td>{{fpg}}</td>
            
        </tr>
        <tr>
            <td> <b>Predicted Outcome</b> </td>
            <td>{{outcome}}</td>
            
        </tr>
    </tbody>
</table>
   <br>
<br>
<br>
<br>

</body>
</html>